{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block page-title %}Welcome to Blog{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h2>Choose what you like to do</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <a href="{% url 'blog:create' %}" class="btn btn-medium btn-primary">Create a new Post</a>
                <a href="{% url 'blog:list' %}" class="btn btn-medium btn-primary">View all Posts</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
